%article.side
  %figure.fancyimg
    %a{:href => userpic(user, :big), :class => 'pic', :rel => 'alternate'}
      = image_tag userpic(user, :medium), :alt => username(user), :size => '300x300'
      %span

  .clr
  %ul.userinfo
    %li
      %span Ausbildung
      %span= safe_output(user.job)
    %li
      %span Alter
      %span= safe_output(user.get_age)
    %li
      %span Wohnort
      %span= safe_output(user.city)

  %h2 Begegnungen
  %ul.facts
    %li.course_client_count
      %span
      = "#{safe_output(user.course_host_count)} Teilgenommen"
    %li.course_host_count
      %span
      = "#{safe_output(user.course_client_count)} Gehalten"

  %h2 Bewertungen
  %ul.rating
    %li.rating-pos
      %span= user.rating_pos_count
      Positiv
    %li.rating-neut
      %span= user.rating_neut_count
      Neutral
    %li.rating-neg
      %span=user.rating_neg_count
      Negativ
  .clr

  - unless controller?("user_conversations")
    %br
    = form_tag({:controller => :user_conversations, :action => :new}, :method => :post) do
      = hidden_field_tag :id, user.id
      %button.form-msg.form-submit{:style => 'width: 100%'}
        Nachricht senden
        %span
