%h2= I18n.t('devise.confirmations.title')
= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|

  %fieldset
    %div
      = f.label :email
      = f.email_field :email

  %div.form-actions
    = f.submit I18n.t('devise.confirmations.submit'), :class => 'btn-primary'

  = render "links"
