%h2 Resend confirmation instructions
= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => 'form-horizontal' }) do |f|

  %fieldset
    %div.control-group{ :class => form_status(@user, :email) }
      = f.label :email, :class => 'control-label'
      .controls
        = f.email_field :email
        %span.help-inline=  form_status_msg(@user, :email)

  %div.form-actions
    = f.submit 'Resend confirmation instructions', :class => 'btn-primary'

  = render "links"
