<html>
  <head>
    <title>
      <%= @subject %>
    </title>
  </head>
  <body>
    <table width="80%" height:"80%" >
      <tr>
        <td align: "center">
          <h2><%="#{@course.title} bestätigt." %></h2>
        </td>
        <td align: "center">
          <%= "Hallo #{@user.first_name}, #{@course.user.first_name} hat deiner Anfrage zugestimmt. \n
          Über den unten stehenden Link kommst du zum Begegnungsforum, falls du Fragen an #{@course.user.first_name} oder \ndie anderen TeilnehmerInnen hast.
          Viel Spaß, wir wünschen euch eine tolle Begegnung." %>
        </td>
        <td align: "center">
          <%= "Dein Wissen • Teilen • Können\nTeam" %>
        </td>

        <td align: "center">
          <a href="http://www.beta.wissenteilen.com/begegnungen/<%=@course.id%>" >
            Zur Begegnung
          </a>
        <td>

      </tr>
    </table>
  </body>
</html>
