!!! 5
%html
  %head
    %title
  %body
    %table{:width => "100%"}
      %tr
        %td{:align => "center"}
          %h2= I18n.t('mailer.subject.provide_course')
        %td{:align => "center"}
          = "Hallo #{@user.first_name}!"
        %td{:align => "center"}
          = "#{@host.first_name} hat auf wissenteilen.com auf Deinen Begegnungswunsch reagiert. \nDetails zur Person und der Begegnung findest du unter folgenden Links:\n"
          = "Profil von #{@host.first_name} ansehen: http://beta.wissenteilen.com/mitglied/#{@host.id}\n"
          = "Deine Begegnung verwalten: http://beta.wissenteilen.com/begegnungen/#{@course.id}\n"
        %td{:align => "center"}
          = "Dein Wissen • Teilen • Können\nTeam" %>
