!!! 5
%html
  %head
    %title
  %body
    %table{:width => "100%"}
      %tr
        %td{:align => "center"}
          %h2= "Erfüllung deines Begegnungswunsches!"
      %tr
        %td{:align => "center"}
          = "Hallo #{@user.first_name},"
      %tr
        %td{:align => "center"}
          = "#{@host.first_name} hat auf wissenteilen.com auf Deinen Begegnungswunsch reagiert."
          = "Details zur Person und der Begegnung findest du unter folgenden Links:"
      %tr
        %td{:align => "center"}
          = "Profil von #{@host.first_name} ansehen: http://wissenteilen.com/mitglied/#{@host.id}"
          = "Deine Begegnung verwalten: http://wissenteilen.com/begegnungen/#{@course.id}"
      %tr
        %td{:align => "center"}
          = "Dein Wissen • Teilen • Können"
          = "Team"
