<html>
  <head>
    <title>
      <%= @subject %>
    </title>
  </head>
  <body>
    <table>
      <tr>
        <td>
          <h2><%="Teilnahme abgelehnt!"%></h2>
        </td>
      </tr>
      <tr>
        <td>
          <%= "Hallo #{@user.first_name}, leider kommt die Begegnung mit #{@course.user.first_name} nicht zu Stande.
          Versuchs doch mit einem Begegnungswunsch, wir drücken dir die Daumen!" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= "Dein Wissen • Teilen • Können" %>
          <%= "Team" %>
        </td>
      </tr>
    </table>
  </body>
</html>
