!!! 5
%html
  %head
    %title= I18n.t('mailer.subject.news')
  %body
    %table{:width => "100%"}
      %tr
        %td
          %h2= "Hallo #{@user.first_name}!"
          = "Du hast eine Anfrage von #{@requester.first_name} zu Deiner Begegnung auf wissenteilen.com erhalten."
          = "Profil von #{@requester.first_name} ansehen: http://beta.wissenteilen.com/mitglied/#{@requester.id}"
          = "Deine Begegnung verwalten: http://beta.wissenteilen.com/begegnungen/#{@course.id}/manage"

