!!! 5
%html
  %head
    %title= I18n.t('mailer.subject.news')
  %body
    %table{:width => "100%"}
      %tr
        %td
          %h2= I18n.t('mailer.greeting_message') +" "+ @user.first_name
      %tr
        %td
          %h3= I18n.t('mailer.join_course_message')
      %tr
        %td= "Benutzerprofil:"
      %tr
        %td= @user_profile_link
      %tr
        %td= "Begegnung:"
      %tr
        %td= @course_link
