- user =  course_request.course_request_users.first.user

- unless user.nil?
  %article.begegnungswunsch
    %a{:href => course_request_path(course_request),:class => 'begegnungswunsch-title'}
      %h3= truncate(course_request.title, :length => 20, :omission => '..')
    %p.begegnung-infos
      = link_to image_tag(userpic(user, :medium), :alt => username(user), :size => '60x60'), user_path(user)
      Ein Wunsch von
      %br
      = link_to truncate(username(user), :length => 18, :omission => '..'), user_path(user)
      %br
      aus
      = truncate(user.city, :length => 17, :omission => '..') unless user.city.nil?
    .clr
    %p.begegnungswunsch-text
      = truncate(course_request.description, :length => 100, :omission => '..')
      %br
      = link_to "Mehr darüber", course_request_path(course_request)
