= javascript_include_tag 'rails.validations'

= form_for @course_request, :validate => true do |f|
  %fieldset
    %div
      = f.label :title
      = f.text_field :title

    %div
      = f.label :description
      = f.text_area :description, :size => "30x10"

  %div.form-actions
    = f.submit I18n.t('course_request.new.submit'), :class => 'btn-primary'
