- if current_user.course_requests.include?(@course_request)
  = form_tag({:controller => "course_requests", :action => :disjoin}, :method => :post) do
    = hidden_field_tag 'course_request_id', @course_request.id
    = submit_tag "Interessiert mich nicht mehr"
- else
  = form_tag({:controller => "course_requests", :action => :join}, :method => :post) do 
    = hidden_field_tag 'course_request_id', @course_request.id
    = submit_tag "Interessiert mich nicht mehr"
