%section.detail
  %article.main
    - @course_request.categories.each do |cat|
      %h3{:class => "cat-#{cat.id}"}
        = cat.title
    %h1= @course_request.title
    = render('/shared/social_media_like_buttons')
    %p= simple_format (@course_request.description)


  %article.side
    %section.members
      = render :partial => 'members'

    %section.actions
      %h2 Mögliche Aktionen:
      = render :partial => 'join_disjoin_buttons'
      %br
      %a{:href => url_for(new_course_path(:request_id => @course_request.id)), :class => 'form-submit form-nextstep'}
        Wunsch erfüllen
        %span










