%section.detail
  %article.main
    - @course_request.categories.each do |cat|
      %h3{:class => "cat-#{cat.id}"}
        = cat.title
    %h1= @course_request.title
    = render :partial => '/shared/social_media_like_buttons', :locals => { :special_url => course_request_path(@course_request)}
    %p= simple_format (@course_request.description)


  %article.side
    %section.members
      = render :partial => 'members'

    %section.actions
      %h2 Mögliche Aktionen:
      = render :partial => 'join_disjoin_buttons'
      %br
      = form_tag({:controller => :courses, :action => :new_with_request}, :method => :post) do
        = hidden_field_tag :request_id, @course_request.id
        %button.form-submit.form-nextstep{:style => 'width: 100%'}
          Wunsch erfüllen
          %span










