%section.detail
  %article.main
    %h3= @course_request.categories.collect { |r| r.title }.join( ' • ' )
    %h1= @course_request.title
    = render :partial => '/shared/social_media_like_buttons', :locals => { :special_url => request.original_url}
    %p= simple_format (@course_request.description)


  %article.side
    %section.members
      = render :partial => 'members'

    %section.actions
      %h2 Mögliche Aktionen:
      = render :partial => 'join_disjoin_buttons'
      %br
      = form_tag({:controller => :courses, :action => :new_with_request}, :method => :post) do
        = hidden_field_tag :request_id, @course_request.id
        %button.form-submit.form-nextstep{:style => 'width: 100%'}
          Wunsch erfüllen
          %span
      = form_tag(new_user_conversation_path, :method => :post) do
        = hidden_field_tag :recipient_id, 0
        = hidden_field_tag :subject, "Begegnungswunsch: #{@course_request.title} mit der id #{@course_request.id}"
        = hidden_field_tag :body, "Der Begegnungswunsch #{@course_request.title} mit der id #{@course_request.id} enthält folgende auffällige Inhalte:"
        %button.form-button-petrol.form-submit{:style => 'width: 36px; height: 36px; font-size: 24px; line-height: 30px; margin-top: 10px', :onclick => "return confirm('Willst du diesen Begegnungswunsch wirklich melden?')" }
          !
          %span










