= javascript_include_tag 'rails.validations'

%h2= I18n.t('devise.registrations.title')
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :validate => true) do |f|

  %fieldset
    %div
      = f.label :first_name
      = f.text_field :first_name

    %div
      = f.label :last_name
      = f.text_field :last_name

    %div
      = f.label :zip
      = f.text_field :zip

    %div
      = f.label :email
      = f.email_field :email

    %div.control-group
      = f.label :password
      = f.password_field :password, :validate => true

  %div.form-actions
    = link_to I18n.t('devise.registrations.cancel'), root_path, :class => 'btn'
    = f.submit I18n.t('devise.registrations.submit'), :class => 'btn-primary'
  = render "links"