%section.user-sidebar
  %article.user-box
    %figure.user-pic
      = image_tag coursepic(course, :medium), :alt => course.title, :size => '220x220'
      %h3= link_to course.title, course_path(course)
    .clr

    %h2 Begegnungen
    %ul
      %li= link_to "Erstelle eine neue Begegnung", new_course_path
      %li= link_to "Erstelle einen neuen Wunsch", new_course_request_path

  .clr
    %article.tips-box
      %h3= Status deiner Anfrage
      = @course_member.accepted

  .clr
  %article.tips-box
    %h3
      = link_to "Tipps und Tricks", tips_path
    %p.small
      %br
      Bei Begegnungsanfragen ist es wichtig, dass du ein bisschen über dich persönlich schreibst und der Veranstalterin bzw. dem Veranstalter sagst warum du mitmachen möchtest, was dich daran fasziniert, bewegt etc.
      %br
      %br
      = link_to "Mehr praktische Tipps", tips_path

