%section.user-sidebar
  %article.user-box
    %figure.user-pic
      = image_tag coursepic(course, :medium), :alt => course.title, :size => '220x220'
      %h3= link_to course.title, course_path(course)
    .clr

    %h2 Begegnungen
    %ul
      %li= link_to "Erstelle eine neue Begegnung", new_course_path
      %li= link_to "Erstelle einen neuen Wunsch", new_course_request_path

  .clr
    - unless @course_member.nil?
      %article.tips-box
        %h3 Status deiner Anfrage
        = raw course_member_acceptance
        -if @course_member.accepted? || @course_member.accepted == 2
          = link_to "Absagen", course_member_path(@course_member), :method => :delete,:class => 'form-button-petrol form-nextstep', :confirm => "Wollen Sie den Kurs wirklich absagen?"
