= javascript_include_tag 'rails.validations'

%h2= I18n.t('devise.complete_registration.title')
= form_for @user, :validate => true, :url => fb_create_users_path, :html => { :class => 'form-horizontal' } do |f|

  %fieldset
    = f.hidden_field :first_name
    = f.hidden_field :last_name
    = f.hidden_field :email
    = f.hidden_field :password

    %div
      = f.label :zip
      = f.text_field :zip

  %div.form-actions
    = link_to I18n.t('devise.complete_registration.cancel'), root_path, :class => 'btn'
    = f.submit I18n.t('devise.complete_registration.submit'), :class => 'btn-primary'
