%h2
  Daten verfollständigen
= form_for @user, :url =>  user_fb_create_path, :html => { :class => 'form-horizontal' } do |f|

  %fieldset
    = f.hidden_field :first_name
    = f.hidden_field :last_name
    = f.hidden_field :email
    = f.hidden_field :password

    %div.control-group{ :class => form_status(@user, :zip) }
      = f.label :zip, :class => 'control-label'
      .controls
        = f.text_field :zip
        %span.help-inline=  form_status_msg(@user, :zip)

  %div.form-actions
    = link_to "Registrierung abbrechen", root_path, :class => 'btn'
    = f.submit "Weiter", :class => 'btn-primary'
