= javascript_include_tag 'rails.validations'

%h2 Registrierung vervollständigen
= form_for @user, :validate => true, :url => fb_create_users_path, :html => { :class => 'form-horizontal' } do |f|

  %fieldset
    = f.hidden_field :first_name
    = f.hidden_field :last_name
    = f.hidden_field :email
    = f.hidden_field :password
    = f.hidden_field :fb_user
    %div
      = f.label :user_key
      .user_key
        = f.text_field :user_key, :style => 'width: 100%;'
        %p.small
          = "Wenn Du noch keinen Code besitzt, fordere bitte einfach einen über "
          = mail_to 'info@wissenteilen.com', nil, :subject => "Ich will einen Beta Code"
          = " an!"

    %div
      = f.label :location
      .location
        = f.select :country, options_for_select([["Österreich", "AT"], ["Deutschland", "DE"], ["Schweiz", "CH"]])
        PLZ:
        = f.text_field :zip

    .clr
    %button.form-submit.form-nextstep.right
      Registrierung abschließen
      %span
