%h2= I18n.t('user.edit.title')
= form_for(@user, :html => { :method => :put, :class => 'form-horizontal' }) do |f|

  %fieldset
    %div.control-group{ :class => form_status(@user, :first_name) }
      = f.label :first_name, :class => 'control-label'
      .controls
        = f.text_field :first_name
        %span.help-inline=  form_status_msg(@user, :first_name)

    %div.control-group{ :class => form_status(@user, :last_name) }
      = f.label :last_name, :class => 'control-label'
      .controls
        = f.text_field :last_name
        %span.help-inline=  form_status_msg(@user, :last_name)

    %div.control-group{ :class => form_status(@user, :zip) }
      = f.label :zip, :class => 'control-label'
      .controls
        = f.text_field :zip
        %span.help-inline=  form_status_msg(@user, :zip)

    %div.control-group{ :class => form_status(@user, :email) }
      = f.label :email, :class => 'control-label'
      .controls
        = f.email_field :email
        %span.help-inline=  form_status_msg(@user, :email)



  %div.form-actions
    = link_to I18n.t('user.edit.cancel_account'), registration_path(@user), :confirm => I18n.t('user.edit.cancel_account_confirm'), :method => :delete, :class => 'btn-danger'
    = f.submit I18n.t('user.edit.submit'), :class => 'btn-primary'
