= javascript_include_tag 'rails.validations'

%h2= I18n.t('user.edit.title')
= form_for(@user, :validate => true, :html => { :method => :put, :multipart => true}) do |f|
  %fieldset
    .tabbable
      %ul.nav-tabs
        %li.nav.active{:style =>"padding: 10px 0"}= link_to I18n.t('user.edit.tabs.common'), "#common", "data-toggle" => "tab"
        %li.nav{:style =>"padding: 10px 0 "}= link_to I18n.t('user.edit.tabs.about'), "#about", "data-toggle" => "tab"
        %li.nav{:style =>"padding: 10px 0"}= link_to I18n.t('user.edit.tabs.account'), "#account", "data-toggle" => "tab"

      .tab-content
        .tab-pane.active#common
          %div
            = f.label :first_name
            = f.text_field :first_name

          %div
            = f.label :last_name
            = f.text_field :last_name

          %div
            = f.label :zip
            = f.text_field :zip

        .tab-pane#about
          = f.fields_for :user_images do |image|
            - unless image.object.new_record?
              .span9
                .thumbnail
                  %div.pull-right
                    = image.label :_destroy
                    = image.check_box :_destroy
                  = image_tag userpic(@user, :medium), :alt => username(@user)
            - else
              %div
                = image.label :image
                = image.file_field :image

          %div
            = f.label :description
            = f.text_area :description

          %div
            = f.label :job
            = f.text_field :job

          %div
            = f.label :motivation
            = f.text_field :motivation

          = f.fields_for :user_skills do |skill|
            - unless skill.object.new_record?
              %div
                = skill.label I18n.t('user.edit.skills')
                = skill.label :title
                = skill.check_box :_destroy
                .pull-right
                  = skill.label :_destroy
            - else
              %div
                = skill.label I18n.t('user.edit.skills')
                = skill.text_field :title

        .tab-pane#account
          = link_to I18n.t('user.edit.cancel_account'), registration_path(@user), :confirm => I18n.t('user.edit.cancel_account_confirm'), :method => :delete, :class => 'btn-large btn-danger'

  %div.form-actions
    = f.submit I18n.t('user.edit.submit'), :class => 'btn-primary'
