%section.detail
  %article.main
    %h1= username(@user)
    = render :partial => '/shared/social_media_like_buttons', :locals => { :special_url => user_path(@user)}
    %h2 Selbstbeschreibung
    %p= simple_format (@user.description) || "noch nicht ausgefüllt"
    %h2 Warum bin ich auf Wissen • Teilen • Können?
    %p= simple_format (@user.motivation) || "noch nicht ausgefüllt"
    %h2 Hobbies und Fähigkeiten
    %p= simple_format (@user.skills) || "noch nicht ausgefüllt"


    .user-courses
      %h2 Aktuelle Begegnungen
      = render(:partial => 'users/show/course', :collection => @user.get_courses) || "keine"
      .clr
    .user-course-requests
      %h2 Begegnungswünsche
      = render(:partial => 'users/show/course_request', :collection => @user.get_course_requests) || "keine"
      .clr
    .clr

    %section.bewertungen
      %h2 Bewertungen
      %ul.rating
        %li.rating-pos
          %span= @user.rating_pos_count
          Positiv
        %li.rating-neut
          %span= @user.rating_neut_count
          Neutral
        %li.rating-neg
          %span=@user.rating_neg_count
          Negativ
      .clr
      %br
      =render :partial => '/users/show/ratings', :locals => { :user => @user, :rating => @rating }

  = render :partial => '/users/show/sidebar', :locals => { :user => @user }


