<% content_for(:head) do %>
<%= stylesheet_link_tag "jquery.Jcrop.min" %>
<%= javascript_include_tag "jquery.Jcrop.min" %>
<script type="text/javascript" charset="utf-8">
$(function() {
  $('#cropbox').Jcrop({
    onChange: update_crop,
    onSelect: update_crop,
    setSelect: [0, 0, 200, 200],
    aspectRatio: 1
  });
});

function update_crop(coords) {
  var rx = 200/coords.w;
  var ry = 200/coords.h;
  $('#preview').css({
    width: Math.round(rx * <%= obj.image_geometry(:big).width %>) + 'px',
    height: Math.round(ry * <%= obj.image_geometry(:big).height %>) + 'px',
    marginLeft: '-' + Math.round(rx * coords.x) + 'px',
    marginTop: '-' + Math.round(ry * coords.y) + 'px'
  });
  var ratio = <%= obj.image_geometry(:original).width %> / <%= obj.image_geometry(:big).width %>;
  $("#crop_x").val(Math.round(coords.x * ratio));
  $("#crop_y").val(Math.round(coords.y * ratio));
  $("#crop_w").val(Math.round(coords.w * ratio));
  $("#crop_h").val(Math.round(coords.h * ratio));
}
</script>
<% end %>

<%= image_tag obj.image.url(:big), :id => "cropbox" %>

<h4>Preview:</h4>
<div style="width:200px; height:200px; overflow:hidden">
  <%= image_tag obj.image.url(:big), :id => "preview" %>
</div>

<%= form_for obj do |f| %>
  <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
    <%= f.hidden_field attribute, :id => attribute %>
  <% end %>
  <div class="send-button">
    <button class="form-submit form-nextstep" id="form-submit">
      Bild zuschneiden
    </button>
    <span></span>
  </div>
<% end %>
