%section.user-sidebar
  %article.user-box
    %figure.user-pic
      = image_tag coursepic(course, :medium), :alt => course.title, :size => '220x220'
      %h3= link_to course.title, course_path(course)
      .icons
        = link_to image_tag('layout-icon-edit.png'), edit_course_path(course)
    .clr

    %p.begegnung-infos
      = link_to image_tag(userpic(course.user, :medium), :alt => username(course.user), :size => '60x60'), user_path(course.user)
      = I18n.localize(course.date, :format => :day) unless course.date.nil?
      %br
      = link_to truncate(username(course.user), :length => 18, :omission => '..'), user_path(course.user)
      %br
      = "in #{truncate(course.city, :length => 17, :omission => '..') unless course.city.nil?}"
      %br
      = "#{course.places_available unless course.places_available.nil?} freie Plätze"

    %a{:href => url_for(edit_course_path(course)), :class => 'form-button-petrol'}
      Bearbeiten
      %span
  .clr

  %article.sidebar-box
    %h3 Bisherige Anfragen

    %h2 Ausstehend
    = render(:partial => '/courses/manage/member', :collection => course.get_open_course_members) || "keine"
    %h2 Angenommene
    = render(:partial => '/courses/manage/member', :collection => course.get_accepted_course_members) || "keine"
    %h2 Abgelehnt
    = render(:partial => '/courses/manage/member', :collection => course.get_refused_course_members) || "keine"

