= "#{member.user.first_name} " "#{member.user.last_name}" if member.accepted == 1
- if member.accepted == 2
  = link_to ("#{member.user.first_name} " "#{member.user.last_name}"), user_path(member.user)
  = form_tag(course_member_path(member), :method => :put) do |f|
    = hidden_field_tag 'acceptance', 1
    = submit_tag I18n.t('pages.overview.accept_course_member')
  = form_tag(course_member_path(member), :method => :put) do |f|
    = hidden_field_tag 'acceptance', 0
    = submit_tag I18n.t('pages.overview.reject_course_member')
  %br
