#static-page
  %section.contact
    %h1.balken Kontakt

    %h2 Kontaktformular:
    = form_tag(contact_us_path, :method => :post, :class => 'form-horizontal' ) do
      %fieldset
        %div
          = label_tag :email_field, I18n.t('pages.contact.email_field'), :class => 'control-label'
          = email_field_tag :email_field
      %fieldset
        %div
          = label_tag :subject, I18n.t('pages.contact.subject'), :class => 'control-label'
          = text_field_tag :subject
      %fieldset
        %div
          = label_tag :body, I18n.t('pages.contact.body'), :class => 'control-label'
          = text_area_tag :body, nil, :size => '30x5'

      %div.form-actions
        = submit_tag 'Abschicken'

