#static-page
  %section.contact
    %h1.balken Kontakt

    %p.intro
      Wissen • Teilen • Können ist derzeit in der Beta-Phase. Wir freuen uns über deine Nachricht, deinen Input, deine Verbesserungsvorschläge und Ideen für die Zukunft.
    
    = form_tag(contact_us_path, :method => :post) do
      %fieldset
        %div
          = label_tag :email_field, "Ihre Email Adresse"
          = email_field_tag :email_field, params[:email_field]
        %div
          = label_tag :subject, "Betreff"
          = text_field_tag :subject, params[:subject]
        %div
          = label_tag :body, "Ihre Nachricht"
          = text_area_tag :body, params[:body]

        %button.form-submit.form-nextstep.right
          Nachricht senden
          %span

