%h1= I18n.t('pages.contact.title')
%br
%h2= I18n.t('app.headline')
%br

%p
  %h3= I18n.t('pages.contact.email')
  %a{:href => "mailto:info@wissenteilen.com"}
    info@wissenteilen.com
  %br
  %h3= I18n.t('app.adress')
  %br
  = render 'contact_form'
