#static-page
  %h1.balken So funktioniert's
  
  %section.so-funktionierts
  
    .steps
      .step
        = image_tag 'sofunktionierts/wissenteilen-schritt1-suchen.png'
        %h2 Finden
        %p.small
          Finde in den 10 Kategorien die Begegnungen, die dich interessieren oder Menschen, die etwas von dir lernen möchten.
    
      .step
        = image_tag 'sofunktionierts/wissenteilen-schritt2-anfragen.png'
        %h2 Kontaktieren
        %p.small
          Sende eine kurze, persönliche Anfrage um an einer Begegnung teilzunehmen.
    
      .step
        = image_tag 'sofunktionierts/wissenteilen-schritt3-begegnung.png'
        %h2 Begegnen
        %p.small
          Nachdem alles ausgemacht ist, trefft euch. Tauscht euch aus. Lernt Neues und teilt Bekanntes.

  .clr
  
  %section.so-funktionierts
  
    %h4.balken FAQ
    
    %p.intro
      Wissen • Teilen • Können ist derzeit in der Beta-Phase und im Aufbau. Daher haben wir für diese Sektion noch keine Inhalte veröffentlicht. Solltest du Fragen haben zur Funktionalität unserer Plattform oder einen Fehler gefunden haben würden wir uns über deine Nachricht freuen.
      =link_to "Zum Kontaktformular ...", contact_path


    .faq-question
      %h2="Was ist Wissen • Teilen • Können ?"
      %p="Wissen • Teilen • Können ist eine Plattform die das Finden und die Organisation von realem Wissensaustausch ermöglichen soll. Es ist ein Ort an dem Wissen und Erfahrung auf Wissenshunger und Neugier treffen. Ein Ort wo sich Menschen finden, die ihre Ideen, Gedanken, Fähigkeiten und Erfahrungen bei realen Treffen austauschen möchten, die einem bestimmten Interesse gemeinsam nachgehen wollen."

    .faq-question
      %h2="Wo ist Wissen • Teilen • Können ?"
      %p="Die Idee hat ihre Wurzeln in Salzburg. Sie wurde im Rahmen des Bachelorabschlussprojektes im Studiengang Multimediaart an der Fh Salzburg umgesetzt. Wissen • Teilen • Können ist für den deutschsprachigen Raum gedacht und so kann es sich jeder in seine Umgebung holen indem er/sie eine Begegnung anbietet und Freunden und Bekannten davon erzählt."

    .faq-question
      %h2="Wer steht hinter Wissen • Teilen • Können?"
      %p Wir sind Matthias, Wolfgang, Franz und Lilli, 4 Studierende aus den Bereichen Multimediaart und Multimediatechnologie an der FH Salzburg. Wenn Du Fragen, Vorschläge, Ideen oder auch Beschwerden hast, schreibe uns auf #{link_to "info@wissenteilen.com", "mailto:info@wissenteilen.com"} oder tritt mit jedem einzelnen persönlich in Kontakt. Anbei siehst Du wer für welchen Teil verantwortlich ist und kannst die jeweilige Portfolioseite besuchen um mehr Infos zu bekommen.
      %p Corporate & Webdesign: #{link_to "Matthias Jungwirth", "http://www.matthiasjungwirth.com/"}
      %p Programmierung: #{link_to "Franz Torghele", "http://www.torghele.at/"} und #{link_to "Wolfgang Vogl", "http://portfolio.multimediatechnology.at/users/wolfgang-vogl"}
      %p Konzept, Illustration, Text und Motion Graphic: #{link_to "Lilli Tchourlina", "http://lillitchourlina.multimediaart.at/"}


    .faq-question
      %h2= "Was sind die Kernwerte von Wissen • Teilen • Können?"
      %p Austausch - Entwicklung - Gemeinschaft
      %p urch ein Miteinander statt Konkurrenz kann eine Umgebung geschaffen werden die die Entwicklung jedes Einzelnen und der Gemeinschaft ermöglicht und fördert. Dieser Austausch, der Kontakt und die Wertschätzung einander gegenüber geben die notwendige Basis für die Entstehung, Förderung und Stärkung einer Gemeinschaft.

    .faq-question
      %h2= "Wer kann bei Wissen • Teilen • Können mitmachen?"
      %p= "Jede und jeder der neugierig ist und gerne neues lernen oder anderen etwas zeigen möchte! Du möchtest etwas lernen, dann sieh Dich um, vielleicht findest Du jemanden der es dir zeigt. Es gibt etwas, dass Dich bewegt, das Du gern machst und das Du gerne anderen zeigen möchtest, dann bist Du auf Wissen • Teilen • Können genau richtig."

    .faq-question
      %h2="Warum sollte ich mitmachen Wissen • Teilen • Können?"
      %p="Die Plattform ist eine Art Schatzkarte. Jeder und jede von uns ist Schatz und AbenteurerIn zugleich. Der Geist, der dieser Idee inne wohnt, ist die Vorstellung dass jeder und jede die Möglichkeit haben sollte, sich weiterzubilden."
      %p="Ziel ist es, eine Gemeinschaft zu erschaffen, die auf Wertschätzung der eigenen Fähigkeiten und der seiner Gegenüber basiert."

    .faq-question
      %h2="Finden Begegnungen online oder offline statt?"
      %p="Wissen • Teilen • Können ist eine Plattform die dir die Möglichkeit gibt online Menschen zu finden die ähnliche Interessen haben wie Du!  Man trifft sich im echten Leben -  fernab vom Computer, außer, er ist Thema der Begegnung."

    .faq-question
      %h2="Welche Informationen sind für nicht angemeldete User sichtbar?"
      %p="Privatsphäre ist uns bei Wissen • Teilen • Können sehr wichtig! Darum sehen nicht angemeldete Benutzer nur Dein Angebot, aber niemals Deinen vollen Namen! Auch Deine Email-Adresse geben wir niemals weiter - nichtmal an andere Benutzer von Wissen • Teilen • Können!"

    .faq-question
      %h2="Welche Arten von Begegnungen sind nicht erwünscht?"
      %p="Begegnungen die beleidigende, hetzerische, rassistische, diskriminierende oder pornographische Inhalte in den Mittelpunkt stellen, die Werbung beinhalten, die Menschenrechte verletzten oder zum Zwecke der finanziellen Bereicherung abgehalten werden sind nicht willkommen und werden ausnahmslos gelöscht."
      %p="Findest Du eine solche Begegnung, verwende bitte den Melden-Button, wir kümmern uns sofort darum!"

    .faq-question
      %h2="Wo ist Wissen Teilen Können im Web vertreten?"
      %p Neben der offiziellen Wissen Teilen Können Plattform, gibt es eine Gruppe auf #{link_to "Facebook", "https://www.facebook.com/wissenteilen"}:  
      %p="Dort gibt’s Neuigkeiten und Entwicklungen von der Website, und wir machen euch auf interessante Themen und Veranstaltungen aufmerksam. Gleichzeitig soll die Fanpage Raum für öffentliche Diskussionen bieten."

    .faq-question
      %h2="Wie kann ich mit Wissen • Teilen • Können in Kontakt treten?"
      %p Schreibe uns eine Mail an #{link_to "info@wissenteilen.com", "mailto:info@wissenteilen.com"} oder schicke uns Post an
      %p="Lilija Tchourlina"
      %p="Haydnstrasse 1"
      %p="5020 Salzburg"

    .faq-question
      %h2="Ich habe mein Passwort vergessen. Wie kann ich mich einloggen?"
      %p="Drücke im Anmeldefenster auf “Passwort vergessen” und gib dort Deine E-Mail Adresse an mit der Du Dich bei Wissen • Teilen • Können registriert hast. Bald bekommst Du eine Mail mit dem Link, unter dem Du ein neues Passwort eintragen kannst."

    .faq-question
      %h2="Mir gefällt Wissen • Teilen • Können so gut, kann ich es weiterempfehlen? Das Logo downloaden?"
      %p="Gerne, wir freuen uns sehr, wenn Du diese Idee weiter in die Welt tragen möchtest. Du kannst Wissen • Teilen • Können über die Sozial Network Marker mit einem Klick auf Facebook und google+ teilen. Unser Infovideo kannst Du dir über #{link_to "Video", "https://vimeo.com/43348184"} holen."

    .faq-question
      %h2="Ich möchte mithelfen bei Wissen • Teilen • Können! Wie kann ich mich an Wissen • Teilen • Können beteiligen?"
      %p Wunderbar, schreibe an #{link_to "lilli@wissenteilen.com", "mailto:lilli@wissenteilen.com"} und erzähle, was Du Dir vorstellst.


    .faq-question
      %h2="Wer sind die netten Herrschaften auf dem Bannerfoto."
      %p="Das sind Karl und Elfi, ihrer Körpersprache und der Inszenierung des Fotos nach zwei lustige ältere Herrschaften die sich mit Elfis neuer Digitalkamera spielen :"

    .faq-question
      %h2="Ich habe eine Idee, wie man Wissen Teilen Können verbessern könnte."
      %p Großartig, schreibe uns Deine Idee an #{link_to "lilli@wissenteilen.com", "mailto:lilli@wissenteilen.com"} oder wir setzen uns zusammen und besprechen Deinen Vorschlag bei einem Kaffee.

    .faq-question
      %h2="Wie kann ich mit anderen in Kontakt treten?"
      %p="Über ihr Profil, wenn Du “Nachricht senden” klickst, öffnet sich ein Fenster wo Du Betreff und Nachricht einfügen kannst. Deine Nachricht ist für den Adressaten auf Wissen • Teilen • Können in seiner Übersicht unter Nachrichten abrufbar. Gleichzeitig wird eine Kopie Deiner Nachricht auf seine/ihre E-Mail Adresse geschickt."

    .faq-question
      %h2="Ich kenne jemanden der/die sich sehr gut mit etwas auskennt, kann ich diese Person für Wissen • Teilen • Können empfehlen?"
      %p Sehr gerne! Entweder Du erzählst dieser Person von Wissen • Teilen • Können oder schickst uns eine Mail mit den Kontaktdaten an #{link_to "info@wissenteilen.com", "mailto:info@wissenteilen.com"}, dann setzten wir uns in Verbindung.

    .faq-question
      %h2="Gibt es eine bestimmte Altersbeschränkung um an Begegnungen teilzunehmen?"
      %p="Nein, falls in der Beschreibung nicht anders angegeben."

    .faq-question
      %h2= "Ich bin kein Lehrer, wie kann ich jemandem etwas beibringen?"
      %p= "Jede und jeder von uns kann LehrerIn sein! Sei aufmerksam und geduldig Deinem Schüler, Deiner Schülerin gegenüber und es wird Dir nicht schwer fallen ihm oder ihr neues zu vermitteln."

