#header
  #header_content
    #hallo
    #hallo_content
      Bald geht's los

    #hand_wrapper
      #hand
      #hand_overlay
      #logo

    #activities
      #egg
        #egg_typo
      #urban
        #urban_typo
      #fb_sign
        =link_to(image_tag('trans.png', :size => '45x37', :border => :none), 'http://www.facebook.com/wissenteilen')
      #wir_wrapper
        #wir
        #face_1
        #face_2
        #face_3
        #face_4
      #the_dot
      #robo_wrapper
        #robo_dance
          #robo_shoe
      #faultier
      #light

#content
  #msg
    - flash.each do |name, msg|
      = content_tag :div, msg, :class => "alert alert-#{name}" if msg.is_a?(String)
  %h1 Lust auf spannende Begegnungen?

  %p Auf Wissen • Teilen • Können treffen Fähigkeiten und Erfahrung auf Neugier und Wissenshunger. Hier findest du Menschen mit denen du deine Talente teilen und von den du selber lernen kannst!

  %p Begegne deiner Stadt und ihren Bewohnern, lerne deine Nachbarn kennen und entdecke die verborgenen Fähigkeiten deiner Mitmenschen. Jeder ist aufgerufen mitzumachen.

  .spacer

  %p Wir geben dir bescheid, sobald es los geht!


  #newsletter
    = image_tag "landingpage/layout-doodle-jetzteintragen.png"
    #newsletter_form
      =form_for @subscriber do |f|
        #email_field
          = f.email_field :email, :placeholder=> I18n.t('pages.landingpage.newsletter_sign_up_placeholder')
        #email_button
          = submit_tag I18n.t('pages.landingpage.newsletter_sign_up_button'), :class => "wtkbtn_green"


#footer
  #fb
    =link_to( image_tag('landingpage/layout-icon-facebook.png', :id => "fb-sign", :size =>"44x44"), 'http://www.facebook.com/wissenteilen', :class => "wtkbtn_blue" )
    %p
      Schon jetzt Einblicke und Fotos zur Entstehung auf
      =link_to('Facebook', 'http://www.facebook.com/wissenteilen')
      ansehen!

  #email
    %p
      Wir freuen uns über deine Feedback. Schreib uns doch eine Mail an
      = mail_to "info@wissenteilen.com"
      = "."
