%section.headerimg
  = image_tag('begegnungen/header-default.jpg', :alt => 'Begegnung der Generationen')
  %h1 Jeden Tag<br>Neues lernen
  %p.headerimg-intro Wähle eine oder mehrere unserer<br>10 Kategorien und finde spannende<br>Begegnungen in deiner Nähe!

%section.begegnungssearch
  = render :partial => '/shared/search', :locals => {:categories => @categories}

  = form_tag courses_path, :method => :get do
    %button.form-submit.form-search.right
      Begegnung suchen
      %span
.clr
%br
#static-page

  %section.so-funktionierts

    %h4.balken So funktioniert's

    .steps
      .step
        = image_tag 'sofunktionierts/wissenteilen-schritt1-suchen.png'
        %h2 Finden
        %p.small
          Finde in den 10 Kategorien die Begegnungen, die dich interessieren oder Menschen, die etwas von dir lernen möchten.

      .step
        = image_tag 'sofunktionierts/wissenteilen-schritt2-anfragen.png'
        %h2 Kontaktieren
        %p.small
          Sende eine kurze, persönliche Anfrage um an einer Begegnung teilzunehmen.

      .step
        = image_tag 'sofunktionierts/wissenteilen-schritt3-begegnung.png'
        %h2 Begegnen
        %p.small
          Nachdem alles ausgemacht ist, trefft euch. Tauscht euch aus. Lernt Neues und teilt Bekanntes.
          =link_to "Mehr darüber ...", help_path

