%h2= I18n.t('devise.sessions.title')
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|

  %fieldset
    %div
      = f.label :email
      = f.email_field :email

    %div
      = f.label :password
      = f.password_field :password

    - if devise_mapping.rememberable?
      %div
        = f.label :remember_me
        = f.check_box :remember_me

  %div.form-actions
    = link_to I18n.t('devise.sessions.cancel'), new_user_registration_path, :class => 'btn'
    = f.submit I18n.t('devise.sessions.submit'), :class => 'btn-primary'

  = render "links"