%section{:class => 'login'}

  %h4{:class => 'balken'}
    = I18n.t('devise.sessions.title')
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  
    %fieldset
      %div
        = f.label :email
        = f.email_field :email
  
      %div
        = f.label :password
        = f.password_field :password
  
      - if devise_mapping.rememberable?
        %div{:id => 'remember_me'}
          = f.label :remember_me 
          = f.check_box :remember_me
  
      %button.form-submit.form-nextstep.right
        = I18n.t('devise.sessions.submit')
        %span
      
    %div.small
      = render "links"

%section{:class => 'login'}

  - if devise_mapping.omniauthable?
    - resource_class.omniauth_providers.each do |provider|
      %a{:href => url_for(omniauth_authorize_path(resource_name, provider)),:class => 'form-button-petrol form-nextstep facebook-login'}
        = I18n.t('app.sign_in_with_link', :provider => provider.to_s.titleize)
        %span
