%h2= I18n.t('devise.sessions.title')
= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-horizontal' }) do |f|

  %fieldset
    %div.control-group{ :class => form_status(@user, :email) }
      = f.label :email, :class => 'control-label'
      .controls
        = f.email_field :email
        %span.help-inline=  form_status_msg(@user, :email)

    %div.control-group{ :class => form_status(@user, :password) }
      = f.label :password, :class => 'control-label'
      .controls
        = f.password_field :password, :value => resource.password
        %span.help-inline=  form_status_msg(@user, :password)
    - if devise_mapping.rememberable?
      %div.control-group{ :class => form_status(@user, :remember_me) }
        = f.label :remember_me, :class => 'control-label'
        .controls
          = f.check_box :remember_me
          %span.help-inline=  form_status_msg(@user, :remember_me)

  %div.form-actions
    = link_to I18n.t('devise.sessions.cancel'), new_user_registration_path, :class => 'btn'
    = f.submit I18n.t('devise.sessions.submit'), :class => 'btn-primary'

  = render "links"