%section.detail
  = render :partial => '/users/shared/user_sidebar', :locals => { :user =>current_user }
  %article.main
    %section.overview
      = render :partial => '/users/shared/overview_header'
      %section.overview-main
        %section.overview-subnav
          %h2= link_to "Posteingang", user_conversations_path(:box => "inbox"), :class => @box == "inbox" ? :active : :inactive
          %h2= link_to "Postausgang", user_conversations_path(:box => "sentbox"), :class => @box == "sentbox" ? :active : :inactive
          %h2= link_to "Gelöschte Nachrichten", user_conversations_path(:box => "trash"), :class => @box == "trash" ? :active : :inactive

        = render(:partial => '/user_conversations/conversation', :collection => @messages) || "keine Nachrichten vorhanden"

      .clr



