%section.detail
  = render :partial => '/users/shared/user_sidebar', :locals => { :user =>current_user }
  %article.main
    %section.overview
      = render :partial => '/users/shared/overview_header'
      %section.overview-main

        %h2 Inbox
        %ul
          = content_tag_for(:li, mailbox.conversations) do |conversation|
            %p
              = link_to conversation.subject, user_conversation_path(conversation)
              |
              - if conversation.is_completely_trashed?(current_user)
                = link_to 'Untrash', untrash_user_conversation_path(conversation), method: :post
              - else
                = link_to 'Move to trash', trash_user_conversation_path(conversation), method: :post