= javascript_include_tag 'rails.validations'

=form_for @course, :validate => true, :url => {:controller => :courses, :action => :create, :type => @course_request} do |f|
  %fieldset
    %div
      = f.label :title
      = f.text_field :title

    %div
      = f.label :date
      = f.text_field :date

    %div
      = f.label :places
      = f.text_field :places

    %div
      = f.label :city
      = f.text_field :city

    %div
      = f.label :zip_code
      = f.text_field :zip_code

    %div
      = f.label :description
      = f.text_area :description, :size => "30x10"

    %div
      = f.label :precognitions
      = f.text_area :precognitions, :size => "30x10", :value =>"-"

    %div
      = f.label :materials
      = f.text_area :materials, :size => "30x10", :value => "-"

    %div
      = f.label :categories
      = f.collection_select(:category_ids, Category.all, :id, :title, {}, { :selected => @course.role_ids, :multiple => true, :name => 'course[category_ids][]'} )
      /= f.select(:categories, Category.all.collect {|f| [ f.title, f.id ] } , {:multiple => true, :size => 10, :include_blank => I18n.t('course.new.select')} )

  %div.form-actions
    = f.submit I18n.t('course.new.submit'), :class => 'btn-primary'
