= javascript_include_tag 'rails.validations'

=form_for @course, :validate => true, :html => {:multipart => true} do |f|
  %fieldset.step-one
    %legend
      %strong Schritt 1 von 2:
      Fakten
			
    %div
      = f.label:title,{:class => 'required'}
      = f.text_field :title

    %div
      = f.label :categories,{:class => 'required'}
      .categories
        - for cat in Category.all
          .category
            = check_box_tag "checkbox_cat-#{cat.id}", "#{cat.id}", categories(cat), :name => "course[category_ids][]", :validate => true
            = label_tag "checkbox_cat-#{cat.id}", cat.title, :class => "checkbox_cat-#{cat.id}"

    %div
      = f.label :date,{:class => 'required'}
      .date-time
        .thedate
          = f.date_select :date, :order => [:day, :month, :year], :include_blank => true, :start_year => Time.now.to_date.year
        .thetime
          um
          = f.time_select :time, {:minute_step => 15, :include_blank => true}
          Uhr

    %div
      = f.label :location,{:class => 'required'}
      .location
        = f.select :country, options_for_select([["Österreich", "AT"], ["Deutschland", "DE"], ["Schweiz", "CH"]], current_user.country)
        PLZ:
        = f.text_field :zip_code, :value => current_user.zip

    %div
      = f.label :places,{:class => 'required'}
      .places
        = f.text_field :places
    .clr

    %div.fieldset-buttons
      %a{:class => 'form-button-petrol form-nextstep right', :id => 'form-nextstep'}
        Weiter zu Schritt 2
        %span

  %fieldset.step-two
    %legend
      %strong Schritt 2 von 2:
      Beschreibung und Foto

    %div
      = f.label :description,{:class => 'required'}
      .description
        = f.text_area :description

    %div
      = f.label :precognitions
      = f.text_area :precognitions

    %div
      = f.label :materials
      = f.text_area :materials

    %div
      = f.label :image
      = f.file_field :image
      -unless @course.image.nil?
        %strong Aktuelles Bild 
        = image_tag coursepic(@course, :thumb)
			
    = f.hidden_field :course_request_id, :value => @course.course_request_id
    .clr

    .send-button
      %button.form-submit.form-nextstep#form-submit
        Begegnung anbieten
        %span

    .fieldset-buttons{:style => 'float:left'}
      %a{:class => 'form-button-petrol form-laststep left', :id => 'form-laststep'}
        Zurück
        %span

:javascript
  $('form').prepend('#{hidden_field_tag 'javascript', 'true'}')
