- if @courses.blank?
  %section.headerimg
    = image_tag('begegnungen/header-default.jpg', :alt => 'Begegnung der Generationen')
    %h1= I18n.t('course.headerimg.h1').html_safe
    %p.intro= I18n.t('course.headerimg.p').html_safe

%section.begegnungssearch

  %ul#begegnungssearch
    - for i in 1..I18n.t('course.categories').count
      %li= link_to I18n.t("course.categories.cat-#{i}").html_safe, '#', :id => "cat-#{i}"

  = form_tag courses_path, :method => :get do
    = text_field_tag('form-input-location', 'Puch bei Hallein', :class => 'form-input-full')
    .submit-field-icon
      = submit_tag 'Begegnung suchen', :class => 'form-submit', :id => 'form-submit-search'
      %span

- unless @courses.blank?
  = render :partial => 'course', :collection => @courses

  = link_to I18n.t('course.index.create_course_button'), new_course_path, :id => "create_course_button", :class => "btn"

