.container
  .row
    .span
      %h1= I18n.t('course.index.headline')
    .span.pull-right
      - if signed_in?
        = link_to I18n.t('course.index.create_course_button'), new_course_path, :id => "create_course_button", :class => "btn"
  %br
  .row
    - @courses.each do |course|
      .span1
        .thumbnail= link_to image_tag(userpic(course.user, :thumb), :alt => username(course.user)), user_path(course.user)
      .span11
        %h1= link_to course.title, course_path(course)
        %h2= course.description
        = I18n.t('course.index.created_from')
        = link_to(username(course.user), user_path(course.user))
