%section.detail
  %article.main
    %h3
      - @course.categories.each do |cat|
        %span{:class => "cat-#{cat.id} category-title"}
          = cat.title
    %h1= @course.title
    = render('/shared/social_media_like_buttons')
    %p= simple_format (@course.description)
    %h2 Benötigte Vorkenntnisse
    %p= simple_format (@course.precognitions.blank? ? "keine" : @course.precognitions)
    %h2 Mitzubringendes Material
    %p= simple_format (@course.materials.blank? ? "keine" : @course.materials)

  %article.side
    %figure.fancyimg
      %a{:href => coursepic(@course, :big), :class => 'pic', :rel => 'alternate'}
        = image_tag(coursepic(@course, :medium), :alt => @course.title, :size => '300x300')
        %span
    .clr
    %ul.facts
      %li.date
        %span
        = I18n.localize(@course.date, :format => :day) unless @course.date.nil?
      %li.time
        %span
        = I18n.localize(@course.date, :format => :time) unless @course.date.nil?
      %li.location
        %span
        = @course.city unless @course.city.nil?
      %li.people
        %span
        = "für #{@course.places_available} Personen" unless @course.places_available.nil?
    .clr
    %br
    .begegnung-host.small
      = link_to image_tag(userpic(@course.user, :medium), :alt => username(@course.user), :size => '100x100'), user_path(@course.user)
      %h4= username(@course.user)
      %p.host-description
        = truncate(@course.user.description, :length => 65, :omission => '..') unless @course.user.description.nil?
        = link_to "Profil ansehen", user_path(@course.user)
      .host-interaction
        = link_to "Profil ansehen", user_path(@course.user), :class => 'button-profil'
        =# link_to "Nachricht senden", new_user_conversation_path(:id => @course.user.id), :class => 'button-message'

        = form_tag(new_user_conversation_path, :method => :post) do
          = hidden_field_tag :recipient_id, @course.user.id
          %button.button-message
            Nachricht senden


    %p
      - if signed_in?
        -if @course.user == current_user
          %a{:href => url_for(edit_course_path(@course)), :class => 'form-button-petrol form-nextstep'}
            Begegnung ändern
            %span
        - else
          -if @course_member = CourseMember.find_by_course_id_and_user_id(@course.id, current_user.id)
            = link_to "Teilnahme absagen", @course_member, :method => :delete, :class => 'form-next-step form-submit'
          -else
            = form_tag({:controller => "course_members", :action => :create}, :method => :post) do
              = hidden_field_tag 'course_id', @course.id
              %button.form-submit.form-nextstep{:style => 'width: 100%'}
                Teilnahme anfragen
                %span
      - else
        = form_tag({:controller => "course_members", :action => :create}, :method => :post) do
          = hidden_field_tag 'course_id', @course.id
          %button.form-submit.form-nextstep{:style => 'width: 100%'}
            Teilnahme anfragen
            %span
