%section.begegnung-detail
  %article.begegnung-main
    - @course.categories.each do |cat|
      %h3{:class => "cat-#{cat.id}"}
        = cat.title
    %h1= @course.title
    %p Social Media Like Dingens hier
    %p= simple_format (@course.description)
    %h2 Benötigte Vorkenntnisse
    %p= simple_format (@course.precognitions.blank? ? "keine" : @course.precognitions)
    %h2 Mitzubringendes Material
    %p= simple_format (@course.materials.blank? ? "keine" : @course.materials)

  %article.begegnung-side
    %figure.fancyimg
      %a{:href => '/assets/layout-logo-wissenteilen.png', :class => 'begegnung-pic', :rel => 'alternate'}
        = image_tag("http://placehold.it/300x200", :alt => @course.title, :size => '300x200')
        %span
    %ul.begegnung-facts
      %li.begegnung-date
        %span
        = I18n.localize(@course.date, :format => :day) unless @course.date.nil?
      %li.begegnung-time
        %span
        = I18n.localize(@course.date, :format => :time) unless @course.date.nil?
      %li.begegnung-location
        %span
        = @course.city unless @course.city.nil?
      %li.begegnung-people
        %span
        = "für #{@course.places_available} Personen" unless @course.places_available.nil?

    .begegnung-host.small
      = link_to image_tag(userpic(@course.user, :big), :alt => username(@course.user), :size => '100x100'), user_path(@course.user)
      %h4= username(@course.user)
      %p.host-description
        = truncate(@course.user.description, :length => 65, :omission => '..') unless @course.user.description.nil?
        = link_to "Profil ansehen", user_path(@course.user)
      %p.host-interaction
        = link_to "Profil ansehen", user_path(@course.user), :class => 'button-profil'
        = link_to "Nachricht senden", '#', :class => 'button-message'

    %p
      - if signed_in?
        -if @course_member = CourseMember.find_by_course_id_and_user_id(@course.id, current_user.id)
          = link_to "Teilnahme absagen", @course_member, :method => :delete, :class => 'form-next-step form-submit'
        -else
          = form_tag({:controller => "course_members", :action => :create}, :method => :post) do
            = hidden_field_tag 'course_id', @course.id
            %button.form-submit.form-nextstep{:style => 'width: 100%'}
              Teilnahme anfragen
              %span