%h1= I18n.t('course.show.headline', :course_title => @course.title)
%p= I18n.t('course.show.category', :category => @course.category.title) unless @course.category.nil?
.container
  .row
    .span3
      .thumbnail= image_tag userpic(@course.user, :medium), :alt => username(@course.user)
    .span9
      %h2= I18n.t('course.show.description')
      %p= @course.description
      %p
        = I18n.t('course.show.created_from')
        = link_to(username(@course.user), user_path(@course.user))

- if signed_in?
  = render 'join_course_button'
