%header
  %nav
    %ul#navi
      %li= link_to I18n.t('app.course_link'), courses_path, :class => :active
      %li= link_to I18n.t('app.course_request_link'), course_requests_path, :class => :inactive
    %ul#navi-user
      - if user_signed_in?
        %li
          = link_to I18n.t('app.overview_link'), overview_path, :id => 'nav-dashboard', :class => :inactive
          = link_to '74', overview_path, :id => 'nav-dashboard-indicator', :class => 'nav-dashboard-indicator-new'
        %li
          = link_to username(current_user), user_path(current_user), :id => 'nav-hellouser', :class => :inactive
          = link_to image_tag(userpic(current_user, :thumb), :class => 'avatar-mini', :size => '45x45'), user_path(current_user), :id => 'nav-profile-avatar'
          = link_to 'Menü öffnen', '#', :id => 'nav-profile-dropdown'
      - else
        %li= link_to I18n.t('app.home_link'), welcome_path, :id => 'nav-dashboard', :class => :inactive
        %li= link_to I18n.t('app.sign_up_link'), new_user_registration_path, :class => :inactive
        %li= link_to I18n.t('app.sign_in_link'), new_user_session_path, :class => :inactive

    %h6#logo= link_to 'Wissen • Teilen • Können - Talente tauschen, Kurioses lernen', root_path
