%header
  %nav
    %ul#navi
      %li= link_to I18n.t('app.course_link'), courses_path, :class => controller?("courses") ? :active : :inactive
      %li= link_to I18n.t('app.course_request_link'), course_requests_path, :class => controller?("course_requests") ? :active : :inactive
    %ul#navi-user
      - if user_signed_in?
        %li
          = link_to I18n.t('app.overview_link'), my_courses_path, :id => 'nav-dashboard', :class => action?("my_courses","my_course_requests","my_conversations") ? :active : :inactive
          = link_to '??', my_courses_path, :id => 'nav-dashboard-indicator', :class => 'nav-dashboard-indicator-new'
        %li
          = link_to I18n.t('app.welcome', :name => truncate(current_user.first_name, :length => 16, :omission => '..')), user_path(current_user), :id => 'nav-hellouser', :class => (!@user.nil? && @user == current_user && action?("show")) ? :active : :inactive
          = link_to image_tag(userpic(current_user, :thumb), :class => 'avatar-mini', :size => '45x45'), user_path(current_user), :id => 'nav-profile-avatar'
          = link_to 'Menü öffnen', '#', :id => 'nav-profile-dropdown'
          %ul#nav-select2
            %li= link_to 'Übersicht', welcome_path, :id => 'nav-select2-dashboard'
            %li= link_to 'Mein Benutzerprofil', user_path(current_user), :id => 'nav-select2-profile'
            %li= link_to 'Profil bearbeiten', edit_user_path(current_user), :id => 'nav-select2-profilesettings'
            %li= link_to 'Kontoeinstellungen', settings_users_path, :id => 'nav-select2-accountsettings'
            %li= link_to 'Abmelden', destroy_user_session_path, :method => :delete, :id => 'nav-select2-logout'

      - else
        %li= link_to I18n.t('app.home_link'), welcome_path, :id => 'nav-dashboard', :class => action?("welcome") ? :active : :inactive
        %li= link_to I18n.t('app.sign_up_link'), new_user_registration_path, :class => controller?("devise/registrations") ? :active : :inactive
        %li= link_to I18n.t('app.sign_in_link'), new_user_session_path, :class => controller?("devise/sessions") ? :active : :inactive

  %h6#logo= link_to 'Wissen • Teilen • Können - Talente tauschen, Kurioses lernen', root_path
