!!! 5
%html{:lang => "de"}
  %head

    %meta{:charset => "utf-8"}/
    %title= content_for?(:title) ? yield(:title) : I18n.t('app.title')
    %meta{:name => "description", :content => content_for?(:description) ? yield(:description) : I18n.t('app.description') }/
    %meta{:name => "autor", :content =>  content_for?(:autor) ? yield(:autor) : I18n.t('app.autor') }/
    %meta{:name => "publisher", :content =>  content_for?(:autor) ? yield(:autor) : I18n.t('app.autor') }/
    %meta{:name => "robots", :content => "follow"}/
    %meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=yes" }/
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Merriweather:400,700,300|Open+Sans:400,700'
    = stylesheet_link_tag :wtk
    = csrf_meta_tags
    = javascript_include_tag :jquery
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
      = javascript_include_tag :selectivizr
    = javascript_include_tag :jquery_ujs
    = javascript_include_tag :jquery_fancybox

  %body

    = render('layouts/header')

    = mail_to "info@wissenteilen.com", 'Feedback', :id => 'feedback-button'

    #container
      = render('layouts/content')
      = render('layouts/footer')

    = javascript_include_tag :application