!!! 5
%html{:lang => "de"}
  %head
    %meta{:charset => "utf-8"}/
    %title= content_for?(:title) ? yield(:title) : I18n.t('app.headline')    
    = stylesheet_link_tag :application
    = csrf_meta_tags
    :css
      body {
        padding-top: 60px;
      }
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to I18n.t('app.brand'), root_path, :class => 'brand'
          %ul.nav
            %li= link_to I18n.t('app.course_link'), courses_path
            %li= link_to I18n.t('app.course_request_link'), course_requests_path
          %ul.nav.pull-right
            - if user_signed_in?
              %li= link_to username(current_user), user_path(current_user)
              %li= link_to I18n.t('user.edit.title'), edit_user_path(current_user)
              =link_to I18n.t('app.sign_out_link'), destroy_user_session_path, :method => :delete, :class => 'btn'
            - else
              = link_to I18n.t('app.sign_up_link'), new_user_registration_path, :class => 'btn'
              = link_to I18n.t('app.sign_in_link'), new_user_session_path, :class => 'btn'
              = link_to I18n.t('app.sign_in_with_link', :provider => "Facebook"), user_omniauth_authorize_path(:facebook), :class => 'btn'

    .container
      .content
        .row
          .span12
            - flash.each do |name, msg|
              = content_tag :div, msg, :class => "alert alert-#{name}" if msg.is_a?(String)
          .span9
            = yield

      = render('layouts/footer')

    = javascript_include_tag :application
