!!! 5
%html{:lang => "de"}
  %head
    %meta{:charset => "utf-8"}/
    %title= content_for?(:title) ? yield(:title) : "Swap"
    = stylesheet_link_tag :application
    %link{:href => "images/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
    = csrf_meta_tags
    / HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => "#"}Swap.io
          %ul.nav
            %li.active= link_to "test1", "#"
            %li= link_to "test1", "#"
          %ul.nav.pull-right
            - if user_signed_in?
              %p
                Signed in as #{current_user.email} . Not you?
                = link_to "Sign out", destroy_user_session_path, :method => :delete
            - else
              %li= link_to "Sign up", new_user_registration_path
              %li= link_to "sign in", new_user_session_path

    .container
      .content
        .row
          .span12
            - flash.each do |name, msg|
              = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
          .span9
            = yield

      %footer
        %p &copy; Company 2012

    = javascript_include_tag :application