!!! 5
%html{:lang => "de"}
  %head
    %meta{:charset => "utf-8"}/
    %title= content_for?(:title) ? yield(:title) : I18n.t('app.title')
    %meta{:name => "description", :content => content_for?(:description) ? yield(:description) : I18n.t('app.description') }/
    %meta{:name => "autor", :content =>  content_for?(:autor) ? yield(:autor) : I18n.t('app.autor') }/
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Merriweather:400,700,300|Open+Sans:400,700'
    = stylesheet_link_tag :landing_page
    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
  %body
    #landing_page
      = yield

    = javascript_include_tag :jquery
    = javascript_include_tag :jquery_ujs
    = javascript_include_tag :jquery_countdown
    = javascript_include_tag :landing_page
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31528997-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
